.banner {
    background: var(--azul-degrade);    
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 1.125em;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa {
    background: transparent;
    border: 1px solid var(--branco);  
    color: var(--branco);
    border-radius: 24px;  
    padding: 1em;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 0.875em;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url("../assets/section-um/Lupa.svg") no-repeat;
    background-position: 2em;
}

@media screen and (min-width: 1024px) {

    .banner {
        padding: 5rem 0;
    }
    .banner__titulo {
        font-size: 2.25rem;
    }

    .banner__texto {
        font-size: 1rem;
    }

    .banner__pesquisa {
        margin-top: 1rem;
        width: 50%;
    }

    .banner__pesquisa::placeholder {
        font-size: 1rem;
        font-weight: 200;
        background-position: 6em;
    }
}

@media screen and (min-width: 1728px) {
    .banner__pesquisa {
        width: 35%;
    }

    .banner__pesquisa::placeholder {
        background-position: 8em;
    }
}