.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container__menu-hamburger {
    background-image: url("../assets/header/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.menu-lista {
    background-color: var(--branco);
    display: none;
    z-index: 2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 70vw;
}

.container__botao {
    display: none;
}

.container__botao:checked ~ .menu-lista {
    display: block;
    position: absolute;
    top: 100%;
}

.menu-lista__titulo,
.menu-lista__item {
    padding: 1em;
    font-size: 1em;
}

.menu-lista__titulo {
    color: var(--laranja);
    font-weight: 600;
}

.menu-lista__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}