@import url("../styles/header.css");
@import url("../styles/banner.css");
@import url("../styles/carrossel.css");
@import url("../styles/contato.css");
@import url("../styles/footer.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul: #002f52;
    --preto: #000000;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins", sans-serif;
    --fonte-secundaria: "Josefin Sans", sans-serif;
}

body {
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1em;
}