@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --cor-de-fundo: #00030C;
    --cor-botao: #167BF7;

    --fonte-principal: "Inter", sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.container {
    height: 100vh; 
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal {
    background-image: url("./assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container__botao {
    background-color: var(--cor-botao);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}