@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --azul-botao: #167BF7;
    --background-color: #00030C;
}

body {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: var(--branco-principal);
    background-color: var(--background-color);
}

.principal {
    background-image: url("./assets/Background.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 1rem;
    font-weight: 400;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;   
    align-items: center;  
    text-align: center; 
}

.container__caixa {
    margin: 0 6rem;
}

.container__titulo {
    font-size: 1.75rem;  
    color: var(--branco-principal);
    font-weight: 700;
}

.container__imagem {
    margin: 1rem 0 2rem 0;
}

.container__botao {
    background-color: var(--azul-botao);
    color: var(--branco-principal);
    text-decoration: none;   
    border-radius: 5px;
    display: block;
    padding: 1rem;
    margin-bottom: 1rem;
}

.botao__transparente {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    color: var(--cinza-secundario);
    font-size: 0.75rem;
}