* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: blue;
    width: 400px;
    height: 400px;
    position: relative;
}

.box {
    background-color: greenyellow;
    width: 200px;
    height: 200px;
    position: absolute;
}