* {
    margin: 0;
    padding: 0;
}
/*O comando acima é utilizado para dar um Reset no CSS para modificar o Box Model, eliminando espaçamentos desnecessários*/
body {
    height: 100vh;
    /*Height define a altura da tela visível, neste caso em 100% do viewport.*/
    box-sizing: border-box;
    /*O seletor box-sizing é utilizado os elementos filhos não saiam para fora do elemento pai, neste caso a poderia ser a tag <p>.*/
    background-color: black; 
    /*O seletor background-color é utilizado para mudar a cor do background (plano de fundo) da página.*/ 
    color: #F6F6F6;  
    /*O seletor color é utilizado para mudar a cor do texto*/
}
.titulo-destaque {
    color: #22D4FD;
    /*Criado uma class no arquivo HTML para que se possa ser realizada a alteração de estilo de uma tag específica.*/
}
.apresentacao {
    margin: 10%;
    /*Neste caso, foi utilizado o Reset CSS no inicio da estilização, porém será necessário a utilização de margem para a sessão que foi criada para gerar um espaçamento entre os itens.*/
    display: flex;
    /*Para utilizar o Flexbox é necessário utilizar o comando display que também deixa os elementos posicionados em linha.*/
    align-items: center;
    /*O seletor align-items é utilizado para levar os elementos para o centro, em relação ao maior elemento.*/
    justify-content: space-between;
    /*Neste caso, o justify-content: space-between foi utilizado para gerar a distribuição de forma uniforme na linha.*/
}