* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
}
.responsivo-container {
  display: flex;
  flex-direction: row;
  /*O flex-direction ou column é utilizado no flexbox para ajustar a direção dos itens, neste caso o row ajusta da esquerda para a direita.*/
  flex-wrap: wrap;
  /*O flex-wrap é utilizado para ajustar os itens flexíveis em várias linhas, de cima para baixo.*/
}