.destinations {
  width: 312px;
  height: auto;
  align-items: center;
  margin: 0 auto;
}

.destinations .section-title {
  width: 280px;
  margin: 0 auto;
}

.destination-items header {
  display: block;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  position: static;
  background-color: var(--background-primary-color);
  text-align: left;
}

.img-item {
  height: 360px;
}

.item .tokyo {
  background: url("../assets/img/tokyo-mobile.jpg") no-repeat;
  background-size: cover;
}

.item .osaka {
  background: url("../assets/img/osaka-mobile.jpg") no-repeat;
  background-size: cover;
}

.item h4 {
  font-size: 28px;
  margin: 24px 0;
}

.item p {
  font-size: 20px;
}

.item footer {
  align-items: center;
  text-align: center;
  margin: 24px 0 40px 0;
}

.item footer a {
  width: 312px;
}

@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
  }

  .destinations .section-title {
    width: 100%;
  }

  .img-item {
    width: 648px;
    height: 452px;
  }

  .item .tokyo {
    background: url("../assets/img/tokyo-tablet-desktop.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .item .osaka {
    background: url("../assets/img/osaka-tablet-desktop.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .item footer {
    display: inline-block;
  }
}

@media screen and (min-width: 1024px) {
  .img-item {
    width: 420px;
    height: 452px;
  }

  .destination-items {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  .item .button-osaka {
    margin-top: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .destinations {
    width: 900px;
  }

  .img-item {
    width: 588px;
    height: 452px;
  }

  .item .button-osaka {
    margin-top: 24px;
  }
}
