.form .section-title {
    text-align: center;
    font-size: 32px;
    font-weight: var(--title-weight);
}

.form .content-text {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
}