header {
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 38px 48px;
    position: relative;
}

.logo {
    display: inline-block;
    width: 68px;
    height: 64px;
}

.navigation-menu {

}

nav {
    display: none;
}

input[type=checkbox]:checked ~ nav {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-tertiary-color);

}

.list-links {
    list-style-type: none;
}

.list-links li {
    margin-bottom: 1rem;
}

.list-links li a {
    color: var(--text-secundary-color);
    text-decoration: none;
}

@media screen and (min-width= 768px) {
    
}