header {
  background-color: var(--background-tertiary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 48px;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.navigation-menu {
}

nav {
  display: none;
}

@media screen and (min-width: 1920px) {
  /* O padding foi aumentado para reduzir espaços excessivos em telas de resolução muito alta. A fórmula utilizada para ajustar o valor foi:
(120 x 1920) / 1440 = 160px
Onde:
120 = padding usado na resolução anterior
1920 = resolução alvo para o novo cálculo
1440 = resolução base do projeto */
  header {
    padding: 38px 160px;
  }
}
