header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 38px 48px;
  position: relative;
  font-weight: var(--menu-text-weight);
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.img-desktop {
  display: none;
}

.navigation-menu {
}

nav {
  display: none;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

.list-links {
  list-style-type: none;
}

.list-links li {
  margin-bottom: 1rem;
}

.list-links li a {
  color: var(--text-secundary-color);
  text-decoration: none;
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .navigation-menu {
    margin-top: 0;
  }

  .navigation-menu label {
    display: none;
  }

  .navigation-menu nav {
    display: block;
  }

  .navigation-menu ul {
    display: flex;
    justify-content: space-between;
    width: 467px;
  }

  .navigation-menu ul li {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 38px 120px;
  }

  .logo {
    width: 260px;
    height: 64px;
  }

  .img-mobile {
    display: none;
  }

  .img-desktop {
    display: block;
  }

  .navigation-menu a:hover {
    color: var(--primary-color);
  }
}

@media screen and (min-width: 1920px) {
  /* O padding foi aumentado para reduzir espaços excessivos em telas de resolução muito alta. A fórmula utilizada para ajustar o valor foi:
(120 x 1920) / 1440 = 160px
Onde:
120 = padding usado na resolução anterior
1920 = resolução alvo para o novo cálculo
1440 = resolução base do projeto */
  header {
    padding: 38px 160px;
  }
}
