.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
  width: 100%;
}

.hero .hero-img {
  background: url("../assets/img/hero-mobile.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.bottom-hero .hero-img {
  background: url("../assets/img/hero-bottom-mobile.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0;
  text-align: center;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 1.5;
}

/* P치gina do blog Jornada Viagens */
.hero .hero-blog {
  background: url("../assets/img/blogspot/hero-blog-mobile.jpg");
  background-size: cover;
  height: 460px;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    background: url("../assets/img/hero-tablet.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 620px;
  }

  .bottom-hero .hero-img {
    background: url("../assets/img/hero-bottom-tablet.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 620px;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }

  /* P치gina do blog Jornada Viagens */
  .hero .hero-blog {
    background: url("../assets/img/blogspot/hero-blog-tablet-desktop.jpg");
    background-size: cover;
    background-position: center;
    height: 620px;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-img {
    background: url("../assets/img/hero-desktop.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .bottom-hero .hero-img {
    background: url("../assets/img/hero-bottom-desktop.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 620px;
  }

  .hero h2 {
    padding: 104px 120px;
  }

  /* P치gina do blog Jornada Viagens */
  .hero .hero-blog {
    background: url("../assets/img/blogspot/hero-blog-tablet-desktop.jpg");
    background-size: cover;
    background-position: center;
    height: 620px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 104px 225px;
  }

  /* P치gina do blog Jornada Viagens */
  .hero .hero-blog {
    background: url("../assets/img/blogspot/hero-blog-tablet-desktop.jpg");
    background-size: cover;
    background-position: center;
    height: 620px;
  }
}