.hero-footer {
    background: url("../assets/img/hero-mobile-footer.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

@media screen and (min-width: 768px) {
    .hero-footer {
        background: url("../assets/img/hero-tablet-desktop-footer.jpg") no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media screen and (min-width: 1440px) {
    .hero-footer {
        height: 600px;
    }
}